
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* gravitas-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/gravitas-one-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* narnoor-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Narnoor';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/narnoor-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, a, ul, li {
	font-family: 'Gravitas One';
}

p {
	font-family: 'Narnoor';
	
}

nav .container2 {
  flex-direction: row;
  justify-content: center;
}

.title {
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
}


body {
	line-height: 1.2;
	margin: 40px;
	background-color: #60733a;
	color: white;
}

.intro {
  background-color: #2f2413;
  border-radius: .5em;
  border: 100px;
  box-sizing: border-box;
  border: 4px solid #355a22; 
  padding: 20px;          
  border-radius: 10px;    
 
}

nav {
	justify-content: center;
}

.main {
  height: 400px;
  width: 700px;
  text-align: center;
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.4em;
  overflow: hidden;
  background-color: #355a22;
  justify-content: center;
}

ul li {
  float: left;

}

footer {
  text-align: center;
  background-color: #2f2413;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

@keyframes logo {
	from {
		transform: rotate(0) scale(.5);
		left: 120%;
	}
	50% {
		transform: rotate(-720deg) scale(.5);
		left: 0
	}
	to {
		transform: rotate(0) scale(1);
	}
}

.logo {
	animation: logo 5s;
}


input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  font-family: 'Gravitas One';
}


input[type=submit] {
  background-color: #355a22;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Gravitas One';
}


input[type=submit]:hover {
  background-color: #324928;
}


.container {
  border-radius: 5px;
  background-color: #554121;
  padding: 20px;
}